@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Latob";
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Mer";
    src: url(../fonts/Merriweather-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Merb";
    src: url(../fonts/Merriweather-Bold.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Sed";
    src: url(../fonts/SedgwickAve-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Latot";
    src: url(../fonts/Lato-Thin.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Montb";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 500;
    font-style: italic;
}