@import url(./font.css);
*{
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;

    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

header{
    background-image: url(../img/image.png);
    height: 1107px;
    position: relative;
    background-size: cover;
}



header .foto2 img{
    position: absolute;
    top: 0;
    width: 20%;
}


header .foto{
    width: 100%;
}

header .foto .knop{
    display: flex;
    justify-content: space-evenly;
    top: 0;
}

header .foto .knop .k button{
    width: 120%;
    border-radius: 0 0 8px 8px;
    border: none;
    height:40%;
    color: #F87932;
    font-size: 20px;
    font-family: 'Lato';
    transition: 0.5s;
}

header .foto .knop .k button:hover{
    background-color: #F87932;
    color: white;
}

header .foto .knop .kn button{
    width: 210%;
    border-radius: 0 0 10px 10px;
    border: none;
    height: 100%;
    color: #F87932;
}






.osn .container{
    display: flex;

}

.osn{
    position: relative;
}



.osn .container .one{
    position: relative;
}

.osn .container .one img{
    position: absolute;
}

.osn .container .one .text{
    position: absolute;
    top: 120px;
}

.osn .container .one .text h2{
    font-size: 80px;
    color: #39BFA7;
    font-family: 'Mer';
}

.osn .container .one .text h3{
    font-size: 80px;
    color: #F87932;
    font-family: 'Mer';
    margin-bottom: 10%;
}

.osn .container .one .knop button{
    border: none;
    background: #F87932;
    width: 30%;
    padding: 15px 0;
    color: white;
    font-family: 'Lato';
    transition: 0.5s;
    font-size: 20px;
}

.osn .container .one .knop button:hover{
    background: white;
    color: #F87932;
}

.osn .container .one, .two{
    width: 50%;
}

.osn .container .two{
    position: relative;
}

.osn .container .two img{
    width: 100%;
    right: 0;
    position: absolute;
    top: 50px;
}




.put .container{
    display: flex;
}

.put .container .txt, .foto{
    width: 50%;
}

.put .container{
    margin-top: 2%;
}

.put .container .txt h3{
    font-family: 'Latot';
    font-size: 24px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 1%;
    margin-top: 8%;
    
}

.put .container .txt h2{
    font-family: 'Merb';
    font-size: 60px;
    margin-bottom: 5%;
    
}

.put .container .txt p{
    font-family: 'Latot';
    font-size: 20px;
    color: #333333;
    width: 85%;
}

.put .container .txt .knop button{
    width: 30%;
    padding: 15px 0;
    background: none;
    font-family: 'Lato';
    font-size: 20px;
    transition: 0.5s;
    margin-top: 180px;
}

.put .container .txt .knop button:hover{
    background-color: black;
    color: white;
}

.put .container .txt .fot{
    background-image: url(../img/put.png);
    background-size: cover;
    width: 720px;
    height: 600px;
    position: absolute;
    left: -15%;
    bottom: 90px;
    
}

.put .container{
    position: relative;
}

.put .container .foto img{
    width: 100%;
    
}








.vid .fot{
    background-image: url(../img/video.png);
    background-size: cover;
    height: 1049px;
}

.vid .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vid .container .txt h2{
    font-family: 'Merb';
    font-size: 60px;
    color: white;
    padding-top: 40%;
    text-align: center;
}

.vid .container .txt p{
    font-family: 'Lato';
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 2%;
}

.vid .container .txt .knop{
    display: flex;
    justify-content: center;
}

.vid .container .txt .knop{
    background: none;
    border: none;
    margin-top: 15%;
    display: flex;
    position: relative;
    
    
}

.vid .container .txt .knop img{
    width: 20%;
    position: absolute;
    left: 40%;
    top: 100%;
}

.vid .container .card .fig{
    display: flex;

}

.vid .container .card .fig .romb:nth-child(2){
    width: 180px;
    height: 180px;
    background: #39BFA7;
    transform: rotate(45deg);
    border-radius: 5px;
    margin-left: 90px;
}

.vid .container .card .fig .romb:nth-child(3){
    width: 180px;
    height: 180px;
    background: #39BFA7;
    transform: rotate(45deg);
    border-radius: 5px;
    margin-left: 90px;
}

.vid .container .card .fig .romb:nth-child(4){
    width: 180px;
    height: 180px;
    background: #39BFA7;
    transform: rotate(45deg);
    border-radius: 5px;
    margin-left: 90px;
}

.vid .container .card .fig .romb{
    width: 180px;
    height: 180px;
    background: #39BFA7;
    transform: rotate(45deg);
    border-radius: 5px;
    
}

.vid .container .card .fig .romb .romb1{
    width: 165px;
    height: 165px;
    background: white;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: 4%;
    padding-top: 3%;
    padding-left: 3%;
}

.vid .container .card .fig .romb .romb2{
    width: 50px;
    height: 50px;
    background: #a3653b;
    border-radius: 4px;
    padding-top: 2.6%;
    padding-left: 2.6%;
}

.vid .container .card .fig .romb .romb1 p{
    transform: rotate(-45deg);
    font-family: 'Lato';
    font-size: 32px;
    text-align: center;
}

.vid .container .card .fig .romb .romb2 .romb3{
    width: 40px;
    height: 40px;
    background: #39BFA7;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid .container .card .fig .romb .romb2 .romb3 p{
    transform: rotate(-45deg);
    font-family: 'Latob';
    font-size: 20px;
    color: white;
}

.vid .container .card{
    margin-top: 30%;
    display: flex;justify-content: center;
}







.be{
    margin-top: 15%;
}

.be .container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.be .container .text h2{
    font-family: 'Montb';
    font-size: 48px;
}

.be .container .text h3{
    font-family: 'Mont';
    font-size: 32px;
    margin-top: 1%;
}

.be .container .text p{
    font-family: 'Lato';
    font-size: 16px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.be .container .text img{
    width: 20%;
    margin-top: 2%;
}

.be .container .grid{
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(2, 282px);
    gap: 20px;
    padding: 50px 0;
}
.be .container .grid .image:nth-child(1){
    background-image: url(../img/облака.jpg);
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
}

.be .container .grid .image:nth-child(2){
    background-image: url(../img/1.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
}
.be .container .grid .image:nth-child(3){
    background-image: url(../img/22.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
}

.be .container .grid .image:nth-child(4){
    background-image: url(../img/3.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
}

.be .container .grid .image:nth-child(5){
    background-image: url(../img/4.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}

.be .container .grid .image:nth-child(6){
    background-image: url(../img/5.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
}

.be .container .knop button{
    width: 13%;
    padding: 15px 0;
    background: none;
    font-family: 'Latob';
    font-size: 20px;
    transition: 0.5s;
}

.be .container .knop{
    display: flex;
    justify-content: center;
}

.be .container .knop button:hover{
    background-color: black;
    color: white;
}









.tur{
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)), url(../img/fon2.jfif);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 7%;
    
}

.tur .container{
    border: 4px solid white;
    
}

.tur .container .text h2{
    color: white;
    font-family: 'Merb';
    font-size: 60px;
    margin-top: 4%;
}

.tur .container .text img{
    width: 20%;
    margin-top: 1%;
}

.tur .container .text p{
    color: white;
    font-family: 'Latot';
    font-size: 16px;
    width: 40%;
    text-align: center;
    margin-bottom: 1%;
}

.tur .container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tur .container .up, .spis{
    width: 50%;
}

.tur .container .nuj{
    margin-top: 5%;
}

.tur .container .up h2{
    font-family: 'Sed';
    font-size: 60px;
    color: #39BFA7;
    display: flex;
    justify-content: end;
    margin-right: 10%;
    font-weight: 100;
}

.tur .container .spis .t1 h2{
    color: white;
    font-family: 'Sed';
    font-size: 80px;
    font-weight: 100;
    margin-right: 5%;
}

.tur .container .spis .t1{
    display: flex;
    margin-bottom: 5%;
}

.tur .container .spis .t1 .t2 p{
    font-family: 'Sed';
    font-weight: 100;
    font-size: 28px;
    color: white;
}

.tur .container .spis .t1 .t2 h3{
    font-family: 'Mer';
    font-size: 40px;
    color: white;
    font-weight: 100;
}

.tur .container .knop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tur .container .knop button{
    background-color: #F87932;
    border: none;
    color: white;
    width: 12%;
    border: none;
    font-size: 20px;
    font-family: 'Lato';
    padding: 1% 0;
    transition: 0.5s;
    margin-bottom: 5%;
    margin-top: 3%;
}


.tur .container .knop button:hover{
    background-color: white;
    color: #F87932;
}

.tur .container .nuj{
    display: flex;
    
}









.obr .container .text h2{
    color: black;
    font-family: 'Merb';
    font-size: 60px;
    margin-top: 4%;
}

.obr .container .text img{
    width: 20%;
    margin-top: 1%;
}

.obr .container .text p{
    color: black;
    font-family: 'Latot';
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
}

.obr .container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.obr .container .vvod{
    display: flex;
    margin-top: 4%;
    margin-bottom: 5%;
}

.obr .container .vvod .nuj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obr .container .vvod .nuj1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obr .container .vvod .nuj, .nuj1{
    width: 50%;
}

.obr .container .vvod .nuj .naz p{
    font-family: 'Lato';
    font-size: 20px;
    margin-bottom: 10%;
}

.obr .container .vvod .nuj1 .naz p{
    font-family: 'Lato';
    font-size: 20px;
    margin-bottom: 10%;
}

.obr .container .vvod .nuj input{
    border: 1px solid #39BFA7;
    margin-bottom: 25%;
    width: 100%;
    padding: 10% 100%;
}

.obr .container .vvod .nuj1 input{
    border: 1px solid #39BFA7;
    margin-bottom: 25%;
    width: 100%;
    padding: 10% 100%;
}

.obr .container .knop{
    display: flex;
    justify-content: center;
}

.obr .container .knop button{
    width: 13%;
    padding: 15px 0;
    background: none;
    font-family: 'Latob';
    font-size: 20px;
    transition: 0.5s;
}

.obr .container .knop button:hover{
    background: #000;
    color: white;
}







.footer{
    background: #151C21;
    padding-top: 5%;

    margin-top: 5%;
}

.footer .container .b1{
    display: flex;
    margin-bottom: 5%;
}

.footer .container .b1 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container .b1 .logo, .c{
    width: 25%;
}

.footer .container .b1 .logo img{
    width: 40%;
}

.footer .container .b1 .c h2{
    font-family: 'Lato';
    font-size: 20px;
    color: white;
}

.footer .container .b1 .c p{
    font-family: 'Latot';
    font-size: 16px;
    color: white;
}

.footer .container .b1 .nuj{
    display: flex;
    width: 75%;
}

.footer .container .b1 .nuj .c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .container hr{
    border: 1px solid #414141;
}

.footer .container .b2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #BBBBBB;
}

.footer .container .b2 h2{
    font-family: 'Lato';
    font-size: 16px;
    margin-top: 5%;
}

.footer .container .b2 p{
    font-family: 'Latot';
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.footer .container .b2 .ik img{
    width: 25%;
    margin-left: 6%;
}






@media(max-width: 420px){
    .container{
        width: 320px;
    }

    .osn .container .one .text h2{
        font-size: 25px;
    }

    .osn .container .one .text h3{
        font-size: 25px;
    }

    .osn .container .one .text{
        width: 100%;
    }

    .osn .container .two img{
        width: 100%;
        margin-top: 140px;
        margin-right: -90px;
        
    }

    .osn .container .one .knop button{
        font-size: 8px;
        width: 35%;
        padding: 5px 0;
    }

    .osn .container{
        margin-left: 5%;
    }

    .put .container .txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .put .container .txt h3{
        font-size: 12px;
    }

    .put .container .txt h2{
        font-size: 30px;
        text-align: center;
    }

    .put .container .foto{
        width: 0;
    }

    .put .container .txt p{
        font-size: 10px;
        text-align: center;
    }

    .put .container .txt .fot{
        width: 300px;
        height: 300px;
        left: -10%;
        bottom: 60px;
        
    }

    .put .container .txt .knop button{
        width: 100%;
        font-size: 10px;
        padding: 5px 5px;
        margin-top: 90px;
    }

    .vid .container .txt h2{
        font-size: 15px;
        margin-top: 25%;
    }

    .vid .container .txt p{
        font-size: 7px;
    }

    .be .container .text h2{
        font-size: 24px;
    }

    .be .container .text h3{
        font-size: 16px;
    }

    .be .container .text p{
        font-size: 8px;
    }

    .be .container .knop button{
        width: 25%;
        font-size: 10px;
        padding: 5px 0;
        margin-top: 90px;
    }

    .tur .container .text h2{
        font-size: 30px;
    }

    .tur .container .text p{
        font-size: 5.76px;
    }

    .tur .container .up, .text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tur .container .up h2{
        font-size: 30px;
    }

    .tur .container .spis .t1 h2{
        font-size: 32px;
    }

    .tur .container .spis .t1 .t2 p{
        font-size: 11.2px;
    }

    .tur .container .spis .t1 .t2 h3{
        font-size: 16px;
    }

    .tur .container .nuj{
        flex-direction: column;

    }

    .tur .container .nuj .spis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tur .container .nuj .up{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .tur .container .knop button{
        width: 25%;
        font-size: 10px;
        padding: 5px 0;
        margin-top: 90px;
    }

    .obr .container .text h2{
        font-size: 30px;
    }

    .obr .container .vvod .nuj .naz p{
        font-size: 13px;
    }

    .obr .container .text p{
        font-size: 15px;
    }

    .obr .container .text p{
        font-size: 13px;
    }

    .obr .container .vvod{
        display: flex;
        flex-direction: column;
    }

    .obr .container .vvod .nuj1 .naz p{
        font-size: 13px;
    }

    .obr .container .knop button{
        width: 25%;
        font-size: 10px;
        padding: 5px 0;
        margin-top: 20px;
    }

    .footer .container .b1{
        flex-wrap: wrap;
    }

    .obr .container .vvod .nuj input{
        width: 90px;
    }

    .obr .container .vvod .nuj1 input{
        width: 90px;
    }

    .footer .container .b1 .nuj{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .footer .container .b1 .nuj .c{
        width: 160px;
    }

    .footer .container .b1 .logo img{
        width: 100%;
        margin-left: 60%;
    }

    .footer .container .b1 .c h2{
        font-size: 12.8px;
    }

    .footer .container .b1 .c p{
        font-size: 10.24px;
        margin-bottom: 10px;
    }

    .footer .container .b2 h2{
        font-size: 9.6px;
    }

    .footer .container .b2 p{
        font-size: 9.6px;
    }

    .footer .container .b2 .ik img{
        width: 15%;
        margin-left: 10%;
    }

    .footer .container .b2 .ik {
        display: flex;
        justify-content: center;
    }

    header .foto2 img{
        width: 0;
    }

    header .foto .knop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .foto .knop .k button{
        width: 130%;
        padding: 10% 0;
        font-size: 15px;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 5%;
        }
    

    header .foto .knop .kn button{
        width: 110%;
        height: 20%;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 5%;
    }

    header .foto .knop .kn img{
        width: 50%;
    }

    header{
        height: 700px;
    }

    .osn .container{
        display: flex;
        flex-direction: column;
    }

    .vid .container .card .fig .romb{
        width: 100px;
        height: 100px;
    }

    .vid .container .card .fig .romb .romb1{
        width: 90px;
        height: 90px;
    }

    .vid .container .card .fig .romb .romb1 .romb2{
        width: 40px;
        height: 40px;
    }

    .vid .container .card .fig .romb .romb1 .romb2 .romb3{
        width: 35px;
        height: 35px;
    }

    .vid .container .card .fig .romb .romb1 p{
        font-size: 14px;
    }

    .vid .container .card .fig{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .vid .container .card .fig .romb:nth-child(2){
        width: 100px;
        height: 100px;
        margin-right: 99px;
    }
    
    .vid .container .card .fig .romb:nth-child(3){
        width: 100px;
        height: 100px;
        margin-right: 99px;
    }
    
    .vid .container .card .fig .romb:nth-child(4){
        width: 100px;
        height: 100px;
        margin-right: 99px;
    }

    .vid .container .card .fig .romb .romb2 .romb3 p{
        font-size: 12px;
    }

    .vid .fot{
        height: 750px;
    }

    .be .container .grid{
        grid-template-columns: repeat(2, 132px);
        grid-template-rows: repeat(4, 132px);
        gap: 10px;
        margin-left: 7%;
        margin-bottom: -30%;
    }

    .be .container .grid .image:nth-child(1){
        background-image: url(../img/облака.jpg);
        background-size: cover;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 2;
    }
    
    .be .container .grid .image:nth-child(2){
        background-image: url(../img/1.png);
        background-size: cover;
        background-position: center;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 1;
    }
    .be .container .grid .image:nth-child(3){
        background-image: url(../img/22.png);
        background-size: cover;
        background-position: center;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 3;
    }
    
    .be .container .grid .image:nth-child(4){
        background-image: url(../img/3.png);
        background-size: cover;
        background-position: center;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 1;
    }
    
    .be .container .grid .image:nth-child(5){
        background-image: url(../img/4.png);
        background-size: cover;
        background-position: center;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
    }
    
    .be .container .grid .image:nth-child(6){
        background-image: url(../img/5.png);
        background-size: cover;
        background-position: center;
        grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 4;
        grid-column-end: 3;
    }

    .put .container .txt .knop button{
        margin-bottom: 30%;
    }
}