@import url(./font.css);
*{
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;

    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

header{
    background-image: url(../img/image.png);
    height: 1107px;
    position: relative;
    background-size: cover;
}

header .foto2 img{
    position: absolute;
    top: 0;
    width: 20%;
}


header .foto .knop{
    display: flex;
    justify-content: space-evenly;
    top: 0;
}

header .foto .knop .k button{
    width: 120%;
    border-radius: 0 0 8px 8px;
    border: none;
    height:40%;
    color: #F87932;
    font-size: 20px;
    font-family: 'Lato';
    transition: 0.5s;
}

header .foto .knop .k button:hover{
    background-color: #F87932;
    color: white;
}

header .foto .knop .kn button{
    width: 210%;
    border-radius: 0 0 10px 10px;
    border: none;
    height: 100%;
    color: #F87932;
}

.osn .container{
    display: flex;

}

.osn{
    position: relative;
}



.osn .container .one{
    position: relative;
}

.osn .container .one img{
    position: absolute;
}

.osn .container .one .text{
    position: absolute;
    top: 120px;
}

.osn .container .one .text h2{
    font-size: 80px;
    color: #39BFA7;
    font-family: 'Mer';
}

.osn .container .one .text h3{
    font-size: 80px;
    color: #F87932;
    font-family: 'Mer';
    margin-bottom: 10%;
}

.osn .container .one .knop button{
    border: none;
    background: #F87932;
    width: 30%;
    padding: 15px 0;
    color: white;
    font-family: 'Lato';
    transition: 0.5s;
    font-size: 20px;
}

.osn .container .one .knop button:hover{
    background: white;
    color: #F87932;
}

.osn .container .one, .two{
    width: 50%;
}

.osn .container .two{
    position: relative;
}

.osn .container .two img{
    width: 100%;
    right: 0;
    position: absolute;
    top: 50px;
}